body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
    border-radius: 25px;
    margin-right: 16px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 15px;
}
.menu li {
    display: inline;
}
.menu a {
    text-decoration: none;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2, h3 {
    color: #333;
}

.status {
    background-color: #eef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.status p {
    margin: 0;
    color: #444;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.category img {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    margin-right: 15px;
}

.category:hover{
    background-color: wheat;
    cursor:auto;
}

.category-info h4 {
    margin: 0;
    color: #333;
}

.category-info p {
    margin: 5px 0 0;
    color: #777;
}